
*{
    margin: 0;
}

 h2{
    text-align: center;
    margin-bottom: 40px;
    padding-top: 30px;
}
#formdiv{
    width: 25%;
    margin: auto;
    margin-top: 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}

p{
    margin-bottom: 5px;
    margin-top: 20px;
    color: rgb(102, 100, 100);
}
input{
    width: 90%;
    height: 35px;
    border-radius: 5px;
    border-width: 0.01cm;
    border-color: rgb(194, 191, 191);
}
input::placeholder{
    color: grey;
}
#submit{
    width: 92%;
    margin: auto;
    margin-top: 50px;
  
    
}
#submit:hover{
    background-color: blue;
    color: white;
}
#img1{
    width: 10%;
    margin: auto;
}
form{
    padding-left: 20px;
    padding-bottom: 40px;
}